<div class="container mt-4">
    <h4 class="text-center">Partner felvitele</h4>
    <form [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
            <label for="name" class="form-label">Név:</label>
            <input id="name" formControlName="name" type="text" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="address" class="form-label">Cím:</label>
            <input id="address" formControlName="address" type="text" class="form-control" />
        </div>

        <button class="btn btn-secondary w-100" (click)="navigateBack()"><i class="bi bi-arrow-left-square"></i><span> Vissza</span></button>
        <button type="submit" class="btn btn-primary w-100 mt-2"><i class="bi bi-floppy"></i><span> Mentés</span></button>
        <div class="alert alert-primary" role="alert" *ngIf="success">
            Sikeres partnerfelvitel!
        </div>
    </form>
</div>